<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>998093846647-tgqvu0j7nuciu9bljr2fioftioqa1t1i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.998093846647-tgqvu0j7nuciu9bljr2fioftioqa1t1i</string>
	<key>API_KEY</key>
	<string>AIzaSyCpSRtaOgn64-2-iSMo9x1uGOozLYrSs9o</string>
	<key>GCM_SENDER_ID</key>
	<string>998093846647</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.JiQiexpenseApp</string>
	<key>PROJECT_ID</key>
	<string>expense-app-d2498</string>
	<key>STORAGE_BUCKET</key>
	<string>expense-app-d2498.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:998093846647:ios:deeeebd0cbd5da41c6ae72</string>
	<key>DATABASE_URL</key>
	<string>https://expense-app-d2498.firebaseio.com</string>
</dict>
</plist>